.sectionTitle span { display: inline-block; font-weight: 500; padding-right: 25px; border-bottom: 1px solid #000 }
.subTitle { border-left: 4px solid #60BA05; padding-left: 10px }

.optTabs > div { gap: inherit !important; padding: 0 !important;  background-color: #fff !important; border-radius: 4px !important; border: 1px solid rgba(0,0,0,.2); }
.optTabs button { padding-left: 0 !important; padding-right: 0 !important; min-width: 120px; font-size: 16px; border-radius: 0 !important; border-left: 1px solid rgba(0,0,0,.2); }
.optTabs button:first-child { border-left: 0; }
.optTabs button span { border-radius: 0 !important; }
.optTabs .bg-success { background-color: #E9F6DB; }

.optNumber > div > div { min-height: inherit !important; }

.promptBox > div { box-shadow: inherit; }
.promptBox > div:hover { background-color: transparent !important; }

section[role="dialog"] button[aria-label="Close"] {
  top: 0.7rem; right: 0.7rem; font-size: 22px; border: 1px solid #ccc;
}

.modal-form .input > div > div { height: 100%; background: transparent !important; }
.modal-form .title { position: relative; padding-left: 13px; min-width: 90px; }
.modal-form .title:after { 
  content: ''; position: absolute; left: 0; top: 10px; width: 6px; height: 6px; 
  background-color: #60BA05; border-radius: 50%; 
}


.token-list { border: 1px solid #d4d4d4; }
.token-list thead tr { background: #cae0ff; }
.token-list thead th { padding: 0.5rem; border: 1px solid #a5c7f6; }
.token-list tbody tr { font-size: 0.875rem; line-height: 1.25rem; }
.token-list tbody tr:hover { background-color: #f1f5f9; }
.token-list tbody td { padding: 0.5rem; border: 1px solid #d4d4d4; }